.boxWrapper {
  max-width: 800px;
  /* padding: 0 16px; */
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 32px;
}

.descriptionBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.descriptionBox {
  /* padding: 16px; */
  width: 100%;
  height: auto;
  display: flex;
  /* flex-direction: column; */
  gap: 24px;
  border-radius: 12px;
  box-sizing: border-box;
}

.counter {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgba(var(--main-color), 0.15);
  border-radius: 100%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 725px) {
  /* .boxWrapper {
    flex-direction: row;
  } */

  .descriptionBoxWrapper {
    flex-direction: row;
  }
  .descriptionBox {
    flex-direction: column;
  }
}
