.startButton {
  width: 100%;
  height: auto;
  color: rgb(var(--color-white));
  background-color: rgba(var(--main-color));
  border-radius: 90px;
  border: 1px solid rgba(var(--main-color));
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.startButton.resultPageStyle {
  background-color: transparent;
  border: 2px solid rgba(var(--color-white), 1);
  color: rgb(var(--color-white));
}

@media (min-width: 725px) {
  .startButton {
    width: auto;
    background-color: rgb(var(--background-color));
    color: rgba(var(--main-color));
    border: none;
    border-radius: 1000px;
    position: relative;
    z-index: 1;
  }

  .mainPageStyle::after {
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: conic-gradient(
      from 90deg,
      #ff4d4d 0%,
      #ffec1a 20%,
      #29cc44 40%,
      #3399ff 60%,
      #e14dff 80%,
      #ff4d4d 100%
    );
    z-index: -1;
  }
}
