.generatePageWrapper {
  width: 100%;
}

.contentFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  width: 100%;
}

.contentField {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.contentList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.contentListItem {
  list-style: none;
  padding: 12px 16px;
}

.contentText {
  flex-grow: 1;
}

/* SearchArtist.tsx */

/* SelectMood.tsx */

/* LoadingPlaylist.tsx */
.loadingImage {
  animation: rotation 1.3s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@media (max-width: 890px) {
  .overlay-content {
    width: calc(100% - 30px);
  }
}
