.headerContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.headerContent {
  width: 100%;
  max-width: var(--inner-width);
  box-sizing: border-box;
}

.headphoneWrapper {
  display: none;
}

@media (min-width: 725px) {
  .headerWrapper {
    width: 100%;
    display: flex;
    position: relative;
  }

  .headerContentWrapper {
    width: 50%;
  }

  .headphoneWrapper {
    display: block;
    width: 35em;
    height: 35em;
    position: absolute;
    right: -5em;
    top: -8em;
  }

  .headphone {
    width: 100%;
    height: 100%;
  }
}
