.trackWrapper {
  list-style: none;
  max-width: 800px;
  width: 100%;
  padding: 0 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.track {
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: var(--box-background);
  box-sizing: border-box;
  cursor: pointer;
}

.noTrack {
  cursor: not-allowed;
  background-color: var(--box-background);
  opacity: 0.5;
}

.trackNumberWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackNumber {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-bold);
  color: #8060c0;
  margin: 0;
}

.trackName {
  font-size: 18px;
  font-weight: var(--font-weight-semiBold);
  margin: 0;
}

.trackArtistName {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  color: #6030c0;
  margin: 0;
}

.audioIconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioIcon {
  position: relative;
}

.baseEllipseIcon,
.loadingEllipseIcon,
.progressCicle {
  position: absolute;
}

.loadingEllipseIcon.hidden {
  display: none;
}

.progressCicle.active {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #9f8fbf;
  animation: progressAnimation 29s linear forwards;
}

@keyframes progressAnimation {
  0% {
    border-top-color: rgba(255, 0, 0, 0);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: rgba(159, 143, 191, 1);
    border-right-color: rgba(255, 0, 0, 0);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: rgba(159, 143, 191, 1);
    border-right-color: rgba(159, 143, 191, 1);
    border-bottom-color: rgba(255, 0, 0, 0);
    border-left-color: transparent;
  }
  75% {
    border-top-color: rgba(159, 143, 191, 1);
    border-right-color: rgba(159, 143, 191, 1);
    border-bottom-color: rgba(159, 143, 191, 1);
    border-left-color: rgba(255, 0, 0, 0);
  }
  100% {
    border-top-color: rgba(159, 143, 191, 1);
    border-right-color: rgba(159, 143, 191, 1);
    border-bottom-color: rgba(159, 143, 191, 1);
    border-left-color: rgba(159, 143, 191, 1);
  }
}
