.searchArtistWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.searchBarWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchBar {
  flex-grow: 1;
  border: none;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
}

.searchBar::placeholder {
  color: #9f8fbf;
}

.contentField {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #9f8fbf;
  cursor: pointer;
}

.artistList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.artisWrapper {
  list-style: none;
}

.artistImageWrapper {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}

.artistImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Ensure the image fits without being cropped */
  object-position: center; /* Center the image */
}

.artistName {
  flex-grow: 1;
}
