.resultHeader {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  /* padding-top: 72px;
  padding-bottom: 48px; */
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.blurryBackground {
  position: absolute;
  top: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5);
}

/* Set dark overlay for the blurry background */
.blurryBackground::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}

.resultHeaderContentWrapper {
  max-width: 400px;
  width: 100%;
  /* padding: 0 16px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.resultPlaylistContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.resultPlaylistArtistImageWrapper {
  display: none;
}

.resultPlaylistInnerContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.actionButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 725px) {
  .resultHeader {
    padding: 32px;
  }

  .resultHeaderContentWrapper {
    max-width: 800px;
    gap: 32px;
  }
  .resultPlaylistContent {
    flex-direction: row;
  }

  .resultPlaylistArtistImageWrapper {
    flex-shrink: 0;
    flex-grow: 0;
    width: 192px;
    height: 192px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actionButtons {
    flex-direction: row;
  }
}
