.resultHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 48px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.blurryBackground {
  position: absolute;
  top: -20px;
  /* left: -10px; */
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
  background-color: rgba(51, 51, 51, 0.5);
}

/* Set dark overlay for the blurry background */
.blurryBackground::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}

.resultHeaderContentWrapper {
  max-width: 800px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.resultPlaylistContent {
  display: flex;
  align-items: center;
  gap: 32px;
}

.resultPlaylistArtistImageWrapper {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}
